body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}


/* Page */
.page {
    overflow: hidden;
}


/* container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;

    background: url("../images/background.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro__suptitle {
    margin-bottom: 20px;

    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}


/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    background-color: #8bbeeb;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #8bbeeb;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.menu__btn{
    margin-top: 0;
    display: inline-block;
    width: 30px;
    height: 20px;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

#nav-toggle-checkbox{
    position: absolute;
    z-index: -666;
    opacity: 0;
}
#nav-toggle-checkbox:checked ~ .nav{
    display: block;
}
#nav-toggle-checkbox:checked ~ .menu__btn > .nav-toggle > .nav-toggle__item{
    background-color: rgba(0,0,0,0) !important;
}
#nav-toggle-checkbox:checked ~ .menu__btn > .nav-toggle > .nav-toggle__item:before{
    animation-name: before_anim_in;
    animation-direction: normal;

    animation-fill-mode: forwards;         /* When the spec is finished */

    animation-duration: 0.3s;
}
#nav-toggle-checkbox:checked ~ .menu__btn > .nav-toggle > .nav-toggle__item:after{
    animation-name: after_anim_in;
    animation-direction: normal;
    animation-fill-mode: forwards;         /* When the spec is finished */

    animation-duration: 0.3s;
}


@keyframes after_anim_in {
    from {
        bottom: 8px;
    }
    50%{
        bottom: 0;
    }

    to {
        bottom: 0;
        transform: rotate(-45deg);
    }
}
@keyframes before_anim_in {
    from {
        top: 8px;
    }
    50%{
        top: 0;
    }

    to {
        top: 0;
        transform: rotate(45deg);
    }
}


.nav__link {
    display: inline;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #c8a45b;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #c8a45b;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #ffffff;
}


/* Nav toggle */
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;
    margin-left: 0;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item ~ .nav{
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}
/*
.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
} */


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}



/* Section */
.section {
    padding: 80px 0;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: url("../images/devices-bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--gray2 {
    background-color: #919090;
}

.section--map {
    padding: 40px 0;
    background: #e6e6e6 url("../images/map-bg.jpg") center no-repeat / cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;

}
.section__text ul{
    justify-content: start;

}


/* Card */
.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
    position: relative;
    background-color: #95e1d3;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__inner:hover .card__text {
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .2s linear;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.card__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.card__info {
    margin-top: 20px;

    text-align: center;
}

.card__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.card__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}



/* Statistics */
.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;

    border-left: 1px solid #b5eae0;

    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    margin-bottom: 10px;

    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}



/* Reviews */
.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 255px;
    position: relative;
}

.reviews__photo {
    display: block;
    width: 210px;
    height: 210px;

    border: 2px solid #95e1d3;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    margin-bottom: 15px;

    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}



/* Map */

.map {
    text-align: center;
}

.map__title {
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    text-transform: uppercase;
}

.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;

    background-color: #f38181;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline;
}


/* Copyright */
.copyright {
    padding: 20px 0;

    border-top: 1px solid #e5e5e5;

    font-size: 14px;
    color: #333;
    text-align: center;
}

.copyright span {
    color: #f38181;
}



@media (max-width: 1230px) {

    /* Intro */
    .intro__suptitle {
        font-size: 52px;
    }

    .intro__title {
        font-size: 120px;
    }

    /* Reviews */
    .reviews__text {
        font-size: 20px;
    }

}

@media (max-width: 990px) {

    /* Intro */
    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 80px;
    }

    /* Stat */
    .stat {
        justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;
        padding-top: 30px;
        padding-bottom: 30px;

        border: 0;
    }

    .stat__item:last-child {
        border-right: 0;
    }


    /* Reviews */
    .reviews {
        padding: 0 60px;
    }

    .reviews__photo {
        width: 150px;
        height: 150px;
    }

    .reviews__item {
        padding-left: 175px;
    }

}

@media (max-width: 770px) {

    /* Intro */
    .intro {
        min-height: 650px;
    }


    /* Header */
    .header {
        padding: 10px 0;
    }

    /* Nav */
    .nav {
        display: none;
        width: 100%;

        position: absolute;
        top: 100%;
        left: 0;

        background-color: #508587;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;
    }


    /* Section */
    .section {
        padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }


    /* Card */
    .card {
        margin-top: 50px;
        justify-content: center;
    }

    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }
    /* Cast */
    .cast {
        margin-top: 50px;
        justify-content: center;
    }

    .cast__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    /* .cast__item:last-child {
        margin-bottom: 0;
    } */


    /* Works */
    .works {
        flex-wrap: wrap;
    }

    .works__col {
        flex: none;
        width: 50%;
    }



}


@media (max-width: 575px) {

    /* Intro */
    .intro__suptitle {
        font-size: 22px;
    }

    .intro__title {
        font-size: 40px;
    }

    /* Section */
    .section__header {
        margin-bottom: 50px;

    }


    .section__suptitle {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__title:after {
        margin: 20px auto;
    }

    /* Stat */
    .stat__item {
        width: 100%;

        border-bottom: 1px solid #b5eae0;
    }

    .stat__item:last-child {
        border-bottom: 0;
    }

    .stat__count {
        font-size: 52px;
    }

    /* Reviews */
    .reviews {
        padding: 0;
    }

    .reviews__btn {
        top: 18%;
    }

    /* Works */
    .works__col {
        width: 100%;
    }



}
/* 7 практика */

/* задание 1 - 7 практика */

.container_review
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 10px;
}

.container_review .box
{
    position: relative;
    width: 370px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s ease-in-out;
}

.container_review .box::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 40px;
    width: 10%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(0deg);
    transition: 0.5s;
}

.container_review .box::after
{
    content:'';
    position: absolute;
    top: 0;
    left: 50px;
    width: 10%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(0deg);
    transition: 0.5s;
    filter: blur(30px);
}

.container_review .box:hover:before,
.container_review .box:hover:after
{
    transform: skewX(0deg);
    left: 30px;
    width: calc(100% - 100px);

}

.container_review .box:nth-child(1):before,
.container_review .box:nth-child(1):after
{
    background: linear-gradient(50deg, #adb9ff, #304b36)
}

.container_review .box:nth-child(2):before,
.container_review .box:nth-child(2):after
{
    background: linear-gradient(10deg, #ffc677, #8d2121)
}

.container_review .box:nth-child(3):before,
.container_review .box:nth-child(3):after
{
    background: linear-gradient(08deg, #1f2a1a, #baf2ff)
}

.container_review .box span
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}

.container_review .box span::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(76, 149, 63, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 5px rgba(0,0,0,0.08)
}

.container_review .box:hover span::before
{
    top: -60px;
    left: 200px;
    width: 80px;
    height: 80px;
    opacity: 1;
}

.container_review .box span::after
{
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(76, 149, 63, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    animation-delay: -1s;
}

.container_review .box:hover span:after
{
    bottom: -50px;
    right: 0px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate
{
    0%, 100%
    {
        transform: translateY(60px);
    }

    50%
    {
        transform: translateX(-10px);
    }
}

.container_review .box .content
{
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(53, 28, 3, 0.11);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
}

.container_review .box:hover .content
{
    left: -25px;
    padding: 60px 40px;
}

.container_review .box .content h2
{
    font-size: 2em;
    color: #102202;
    margin-bottom: 10px;
}

.container_review .box .content p
{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
    color: #291502;
}

/*form*/


.containerForm{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    display: block;
    background-color: #2c3742;
    background: linear-gradient(to top, #87a4c0, #657586);
    height: 100%;
    width: 100%;
}

form{
    font-family: 'Montserrat', sans-serif;
    height: 500px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    transform: translate(-50%,0%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    margin-top: 30px;
    z-index: 10;
    display: grid;
    grid-template-rows: repeat(6, 6fr);
}

form *{
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: #e5e5e5;
}

button{
    /* margin-top: 50px; */
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    /* background-color: #172341ce; */
    color: #ffffff;
}

input:focus{
    background-color: #b0b0b0bd;
    color: #ffffff;
    transform: scale(1.1);
    transition-duration: calc(0.5 * 4s);
}
.square {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    animation: square 10s linear infinite;
    animation-delay: calc(-1s);
}

@keyframes square {
    0%,100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }
}
.square:nth-child(1) {
    width: 100px;
    height: 100px;
    top: 150px;
    right: 300px;
}

.square:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 300px;
    left: 200px;
    z-index: 2;
}

.square:nth-child(3) {
    width: 60px;
    height: 60px;
    bottom: 220px;
    right: 345px;
    z-index: 2;
}

.square:nth-child(4) {
    width: 50px;
    height: 50px;
    bottom: 120px;
    left: 95px;
}

.square:nth-child(5) {
    width: 50px;
    height: 50px;
    top: 200px;
    left: 150px;
}

.square:nth-child(6) {
    width: 85px;
    height: 85px;
    top: 120px;
    right: 150px;
    z-index: 2;
}




/* Cast */
.cast__img{
    filter: blur(0px);
}
.cast {
    margin: 40px -15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.cast .cast__item{
    position: relative;
    justify-content: center;
}

.cast__item {
    /* width:; */
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    padding: 0 15px;
    filter: blur(0px);
}

.cast__inner:hover .cast__img {
    transform: scale(1.7);


}
.cast:hover .cast__item:not(:hover){
    filter: blur(3px);
}

.cast__inner:hover .cast__text {
    opacity: 1;
}

.cast__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .3s linear;
}

.cast__img img {
    display: flex;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.cast__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.cast__info {
    margin-top: 20px;

    text-align: center;
}

.cast__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.cast__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}
/* 7 практика */

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.content2 {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
    background-color: rgb(170, 249, 232);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #14072f61;
}

.content2::before {
    content: "";
    position: absolute;
    left: 50%;
    display: block;
    background-color: rgb(63, 156, 141);
    width: 300px;
    height: 300px;
}

.content2:hover {
    background-color: rgb(168, 241, 255);
}

.content2:hover a {
    background-color: rgb(179, 238, 233);
}

.content2:hover::before {
    background-color: rgb(127, 173, 232);
}

.content2 h2 {
    z-index: 2;
    font-weight: 600;
    font-size: 25px;
}

.content2 a {
    background-color: rgb(206, 233, 255);
    z-index: 2;
    padding: 5px;
    text-decoration: none;
    color: #000000;
}

.content2 a:hover {
    transform: scale(1.05);
}

.content2 p {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    color: #00000028;
    font-weight: 10;
    margin: 0;
    padding: 0;
}

.content2:hover {
    transform: scale(1.05);
}

.content2:hover p {
    font-size: 55px;
    color: #00000090;
    right: 20px;
}

.content2 > span::before {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    right: 100%;
    height: 2px;
    content: "";
    box-shadow: 0px 0px 10px #6168bf;
}

.content2:hover > span::before {
    box-shadow: 0px 0px 10px #48d7d0;
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    right: -100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, hsl(243, 100%, 48%));
    content: "";
    transition: 1s;
}

.content2 > span::after {
    box-shadow: 0px 0px 10px #4b8aff;
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    right: -100%;
    height: 2px;
    content: "";
}

.content2:hover > span::after {
    box-shadow: 0px 0px 10px #375fa9;
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    right: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #8db1ff);
    content: "";
    transition: 1s;
}

.content2:active {
    background-color: transparent;
}
/* 8 практика */

/* Works */
.works {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-auto-flow: dense;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;

    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__image {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__image {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .3s linear;
}

.works__info {
    width: 100%;
    padding: 0 15px;

    text-align: center;
    color: #fff;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;

    font-size: 14px;
    text-transform: uppercase;
}

.works__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}


/* footer */

.footer-row {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 3fr); */
}

.footer{
    background-color: #2a4b4c;
    padding: 20px 30px;
    min-height: 400px;
}

.footer-col{
    width: 30%;
    padding: 0 15px;
}

.footer p {
    color: #bbbbbb;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.footer-col ul{
    list-style: none;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: normal;
    position: relative;
}



.footer-col ul li a{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer .subscribe {
    margin-top: 10px;
    position: relative;
}

.footer input {
    outline: none;
    border: 1px solid #fff;
    background: #10201c;
    height: 40px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    padding-left: 20px;
    caret-color: #fff;
}

.subfooter {
    background: #121212;
    color:rgb(170, 170, 170);
    padding: 30px 70px;
    font-size: 12px;
    text-align: center;
}

/*social*/

.footer-col .social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

i {
    margin-top: 6px;
}
#contacts{
    text-decoration: none;
    color: white;
}